@import "../../styles/media";

.button-cart {
  display: flex;
  align-items: center;
  padding: 12px 25px !important;

  @include tablet {
    padding: 6px 18px !important;
  }

  .delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }

  .card-icon {
    margin-right: 8px;
  }

  .text {
    font-weight: 600;
    font-size: 16px;

    @include tablet {
      font-size: 14px;
    }
  }
}