.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-light-gray);
  padding: 40px 0;

  .logo {
    display: flex;
    align-items: center;
    column-gap: 15px;

    &-image {
      width: 38px;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 24px;
        font-weight: 800;
        letter-spacing: 0.24px;
        text-transform: uppercase;
      }

      .description {
        color: var(--color-dark-gray);
        font-size: 16px;
      }
    }
  }
}

