.main {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  padding-block: 40px 80px;
}

.top-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 55px;
  column-gap: clamp(15px, #{30 / 1440 * 100}vw, 30px);
}