.cart {
  min-height: 70vh;
  max-width: 1020px;
  margin: 90px auto
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.title-block {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.cart-clear {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  .icon{
    color: var(--color-dark-gray);
  }

  .text {
    color: var(--color-dark-gray);
    font-size: 18px
  }

  &:hover svg path {
    stroke: var(--color-black);
  }

  &:hover span {
    color: var(--color-black);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.result {
  display: flex;
  justify-content: space-between;
  font-size: 22px;

  .count {
    min-width: 180px;
    flex-shrink: 0;
  }

  .price b {
    color: var(--color-orange);
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.pay-btn {
  width: 210px;
  padding: 16px;
  font-weight: 600;
}