.sort-block {
  position: relative;
  flex-shrink: 0;

  .label {
    display: flex;
    align-items: center;
    padding-block: 10px;

    svg {
      margin-right: 8px;
    }

    .text {
      margin-right: 8px;
    }

    .input-type {
      color: var(--color-orange);
      border-bottom: 1px dashed var(--color-orange);
      cursor: pointer;
    }
  }

  .type {
    position: absolute;
    right: 0;
    margin-top: 8px;
    background: var(--color-white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 160px;

    &-list {
      overflow: hidden;
    }

    &-item {
      padding: 12px 20px;
      cursor: pointer;

      &.active,
      &:hover {
        background: rgba(254, 95, 30, 0.05);
      }

      &.active {
        font-weight: bold;
        color: var(--color-orange);
      }
    }
  }
}