.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 6px;
  top: 6px;
  color: var(--color-gray);
}

.input {
  width: 320px;
  padding: 8px 38px;
  border: var(--border-gray);
  border-radius: var(--border-radius);
  font-size: 16px;

  &::placeholder {
    color: var(--color-gray);
  }

  &:focus {
    border-color: var(--color-dark-gray);
    outline: none;
  }
}

.clear-icon {
  position: absolute;
  right: 8px;
  top: 9px;
  fill: var(--color-gray);
  cursor: pointer;

  &:hover {
    fill: var(--color-dark-gray);
  }
}